#Score {
    position: absolute;
    font-family: 'Bravura', sans-serif;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 48px);
    max-width: 100vw;
    max-height: calc(100vh - 48px);
    padding: 32px;
    overflow: scroll;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    #Score__Header {
        display: block;
        margin-bottom: 32px;

        h1 {
            margin: 0;
            font-size: 28px;
            font-weight: 600;
        }
    }

    #Score__PartView {
        position: relative;
        display: grid;
        grid-auto-flow: row;
        gap: 50px;
        width: max-content;

        .ScoreView__PartRenderer {
            display: grid;
            grid-auto-flow: column;
            gap: 0;
            align-items: stretch;

            .Score__PartView__measure {
                display: grid;
                align-items: center;
                justify-items: center;
                padding: 0;
            }
        }
    }
}