#Score {
    position: absolute;
    font-family: 'Bravura', sans-serif;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 48px);
    max-width: 100vw;
    max-height: calc(100vh - 48px);
    padding: 32px;
    overflow: scroll;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    #Score__Header {
        display: block;
        margin-bottom: 32px;

        h1 {
            margin: 0;
            font-size: 28px;
            font-weight: 600;
        }
    }

    #Score__PartView {
        position: relative;
        display: grid;
        grid-auto-flow: row;
        gap: 0;
        width: max-content;

        .ScoreView__PartRenderer {
            display: grid;
            grid-auto-flow: column;
            gap: 0;
            align-items: stretch;
            border: 1px solid #ddd;
            border-bottom: none;

            &:last-child {
                border-bottom: 1px solid #ddd;
            }

            .Score__PartView__measure {
                display: grid;
                align-items: center;
                justify-items: center;
                padding: 0;
                border-right: 1px solid #ddd;
                min-width: 120px;

                &:last-child {
                    border-right: none;
                }

                .Score__PartView__measure__number {
                    display: none;
                }

                // .Score__PartView__measure__staff-lines {
                //     width: 100%;
                //     height: auto;
                //     display: block;
                // }

                p {
                    display: none;
                }
            }
        }
    }
}